/*
The unholy place...
...you can feel [my] suffering in every line...
*/

#header {
    top: 0;
    height: 80px;
    position: fixed;
    background-color: lightcoral;
    width: 100%;
}

#header .inner {
    width: 80%;
    margin: auto;
}

#main {
    width: 90%;
    margin: 80px auto auto;
    top: auto;
}

#filterSources, #selectSource {
    display: inline-block;
    margin-left: 5%;
    margin-top: 10px;
    float: left;
}

#filterSources {
    max-width: 50%;
    float: left;
}

#selectSource {
    max-width: 30%;
    float: left;
}

.right {
    float: right;
}

.source-wrapper {
    width: 100%;
    overflow: hidden;
    margin: auto auto 50px;
    background-color: floralwhite;
}

.source-aside {
    width: 30%;
    float: left;
    overflow: hidden;
}

.source-aside .image-wrapper {
    width: 90%;
    padding: 5%;
    margin: auto;
    overflow: hidden;
}

.source-wrapper .description {
    width: 100%;
}

.description p {
    padding: 5%;
}

.image-wrapper img {
    width: 100%;
}

.articles-wrapper {
    width: 60%;
    padding: 5%;
    margin-left: 30%;
    background-color: white;
}

.article {
    width: 90%;
    margin: auto auto 2%;
    padding: 5%;
    overflow: hidden;
}

.article .text-wrapper {
    width: 80%;
    float: left;
}

.article .image-wrapper {
    width: 20%;
    float: left;
}

.article img {
    width: 100%;
}

/* OMG, that escalated quickly */

#selectSource .ui-selectonemenu,
#selectSource .ui-selectonemenu-label {
    width: 150px !important;
    vertical-align:middle;
}

#filterSources .ui-selectonemenu,
#filterSources .ui-selectonemenu-label{
    width: 100px !important;
    vertical-align:middle;
}

.ui-selectonemenu-items, .ui-selectonemenu-list {
    background: floralwhite !important;
}

.ui-inputfield { box-shadow: none !important; }

.ui-selectonemenu-panel .ui-selectonemenu-items-wrapper {
    overflow-x: hidden !important;
}

#poweredBy {
    color: floralwhite;
    display: inline-block;
    float: left;
}

#poweredBy a {
    text-decoration: none;
    color: lightseagreen;
}

#header .lower {
    max-width: 20%;
    margin: auto;
    display: block;
}

span.author {
    font-style: italic;
}

span.title {
    font-weight: bold;
}

.logo {
    max-width: 20%;
    float: left;
}

.logo span {
    color: floralwhite;
    text-align: center;
}

#logo {
    font-size: 1.5rem;
}